.App {
  text-align: center;
}

p.title {
  margin: 0;
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
}

p.limited-explain {
  margin: 0 auto;
  padding: 20px 20px 30px;
  max-width: 600px;
  font-size: 22px;
  text-align: left;
  white-space: pre-line;
}

a.anchor {
  display: block;
  margin-top: -60px;
  padding-top: 60px;
  visibility: hidden;
}
